@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../assets/img/kayit-formuu.jpg") center center no-repeat;
    background-size: cover;

    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.contact-us {
    margin-top: 8px;
    background: #f8f4e5;
    padding: 26px 90px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}

input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
}

input:focus {
    border-bottom: 5px solid #ffa580;
}

button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
}
button:hover {
    background: black;
    color: white;
    border: 1px solid black;
}

::selection {
    background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2a293e;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
}
.checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms,
        transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
.checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.checkbox-wrapper-24 input[type="checkbox"] {
    display: none;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
.checkbox-wrapper-24 input[type="checkbox"]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
}
